@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #90ECA5;
  border-radius: 5rem;
}

section {
  width: 100%;
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: #334;
  margin: 4rem 0;
}
.heading span {
  color: #90ECA5;
}

.header .navbar {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 0.2rem solid #334;
  position: relative;
  z-index: 1000;
}
.header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  box-shadow: 0 0.5rem 1rem rgba(28, 172, 40, 0.1);
}
.header .navbar .logo img {
  width: 9.375rem;
}
.header .navbar .links a {
  color: #90ECA5;
  font-size: 1.5rem;
  margin-right: 2rem;
  transition: 0.5s;
}
.header .navbar .links a:hover {
  color: #777;
}
.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #334;
  display: none;
}

.home {
  min-height: 100vh;
  background: linear-gradient(76.34deg, #fff 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/rasyid-maulana-yVwiHXoTrnU-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: 0.2rem solid #334;
  animation: background 10s alternate infinite;
}
.home .content {
  position: relative;
  flex: 1 1 42rem;
  text-align: left;
  justify-content: center;
  margin: 30rem 0;
}
.home .content h3 {
  font-size: 4rem;
  color: #334;
  margin: 3rem 0rem;
  line-height: 1.3;
  width: 30rem;
}
.home .content h3 span {
  color: #90ECA5;
}
.home .content p {
  font-size: 1.6rem;
  color: #777;
  line-height: 2.5rem;
  width: 40rem;
}

@keyframes background {
  0%, 100% {
    background: linear-gradient(76.34deg, #fff 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/rasyid-maulana-yVwiHXoTrnU-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  25% {
    background: linear-gradient(76.34deg, #fff 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/kevin-yudhistira-alloni-Yaa2wZNK4sQ-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  50% {
    background: linear-gradient(76.34deg, #fff 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/aulia-azharuddin-ahmady-AUiqQn3mSgQ-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  75% {
    background: linear-gradient(76.34deg, #fff 52.45%, rgba(196, 196, 196, 0) 52.49%), url(../images/andiko-baskoro-Lo3x103iBew-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
.feature {
  background: #f5fff0;
  border-bottom: 0.2rem solid #334;
}
.feature .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.feature .box-container .box {
  background-color: #fff;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #334;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(28, 172, 40, 0.1);
}
.feature .box-container .box:hover {
  background: #90ECA5;
}
.feature .box-container .box:hover h3 {
  color: #fff;
}
.feature .box-container .box:hover p {
  color: #fff;
}
.feature .box-container .box img {
  height: 10rem;
  margin-bottom: 0.5rem;
}
.feature .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}
.feature .box-container .box p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}

.news .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 3rem;
}
.news .grid .image {
  flex: 1 1 40rem;
}
.news .grid .image img {
  width: 100%;
  max-height: 342px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.news .grid .content {
  flex: 1 1 40rem;
}
.news .grid .content h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #334;
}
.news .grid .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}
.news .grid .content .btn {
  color: #90ECA5;
  background-color: #fff;
  text-decoration: underline;
  transition: 0.5s;
}
.news .grid .content .btn:hover {
  color: #334;
}

/* footer */
.footer {
  background-color: #f5fff0;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
  align-items: flex-start;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 2rem;
}

.footer .box-container .box a {
  display: block;
  padding: 1rem 0;
  color: #f5f5f5;
  font-size: 1.6rem;
  transition: 0.5s;
}

.footer .box-container .box a {
  padding-right: 1rem;
  transition: 0.2s linear;
  color: #334;
}

.footer .box-container .box a:hover {
  color: #90ECA5;
}

.footer .credit {
  padding: 2rem;
  text-align: center;
  border-top: var(--border);
  font-size: 2rem;
  padding-bottom: 3.5rem;
}

.credit img {
  width: 9.375rem;
}

.filter-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.accordion-box {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 10px;
  width: -moz-max-content;
  width: max-content;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.filter-section {
  margin-bottom: 10px;
}

.filter-section h3 {
  margin-top: 0;
}

.filter-section button {
  display: block;
  margin-top: 5px;
}

.filter {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 10px;
}

.filter:hover {
  background-color: #ccc;
}

.destination {
  background: #fff;
}
.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.destination .box-container .box {
  width: 35rem;
  text-align: center;
}
.destination .box-container .box .image {
  height: 20rem;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}
.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.destination .box-container .box .content {
  padding: 2rem;
  padding-top: 5rem;
  margin: 2rem;
  background: #f5fff0;
}
.destination .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}
.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 2;
  color: #777;
}
.destination .box-container .box .content .btn {
  text-decoration: underline;
  color: #334;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .header .navbar {
    padding: 2rem 5%;
  }
  .home .content {
    padding-top: 10rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .navbar {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 1.8rem;
  }
  .home {
    animation: none;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/rasyid-maulana-yVwiHXoTrnU-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .home .content {
    text-shadow: 0.1rem 0.1rem 0.3rem #777;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */